<div style="width:100vw; height:50vh; background-color:lightslategrey">
    Top Bloc Banner
</div>
<div>
    <div style="width:50vw; height:20vh; background-color:bisque"></div>
    <div style="width:50vw; height:20vh; background-color:dimgrey"></div>
</div>