<nav>
    <ul>
        <% menuItems.forEach(function(menuItem){ %>
                <li>
                    <a href="<%= menuItem.href%>"><%= menuItem.title %></a>
                </li>
        <%  }); %>
    </ul>
</nav>